.breadcrumb {
    position: relative;
    margin-bottom: 4rem;

    &__content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    &__item {
        a, i, span {
            font-weight: 700;
            font-size: 1.2rem;
            text-transform: uppercase;
            letter-spacing: 0.18rem;
            color: var(--color-secondary);
            transition: all .2s linear;
        }

        a:hover span {
            color: $color-active;
        }
    }

    .bg-light {
        top: -3rem;
        left: -22.8rem;
    }
}