body {
    &:not(.light), &.dark {
        .form {
            --color-form-input-border: rgba(255, 255, 255, 0.2);
        }

        .form, .select2-dropdown {
            --color-form-select-bg: transparent;
            --color-form-select-border: #6B7180;
            --color-form-select-focus-bg: rgba(26, 37, 62, 0.85);
        }
    }

    &.light {
        .form {
            --color-form-input-border: #D0D1D3;
        }

        .form, .select2-dropdown {
            --color-form-select-bg: rgba(107, 113, 128, 0.08);
            --color-form-select-border: rgba(107, 113, 128, 0.5);
            --color-form-select-focus-bg: rgba(255, 255, 255, 0.85);
        }
    }
}

.form {
    &-input {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 25.2rem;
        width: 100%;

        label {
            font-size: 1.4rem;
            margin-bottom: 0.7rem;
            color: var(--color-text);
            transition: all .2s linear;

            @media #{$lg} {
                margin-bottom: 0.3rem;
            }

            &:has(+ input:focus) {
                color: $color-active;
            }
        }

        input {
            font-size: 1.6rem;
            color: var(--color-primary);
            width: 100%;
            height: 5rem;
            background-color: rgba(#0F1626, 0.02);
            box-sizing: border-box;
            padding: 0 1.4rem;
            border: var(--color-form-input-border) 1px solid;
            border-radius: 1rem;
            outline: none;
            transition: all .2s linear;

            @media #{$lg} {
                height: 4.5rem;
            }

            &::placeholder {
                color: var(--color-text);
            }

            &:focus {
                border-color: $color-active;
            }
        }
    }

    &-textarea {
        position: relative;
        display: flex;
        flex-direction: column;
        max-width: 55.4rem;
        width: 100%;

        label {
            font-size: 1.4rem;
            margin-bottom: 0.7rem;
            color: var(--color-text);
            transition: all .2s linear;

            &:has(+ textarea:focus) {
                color: $color-active;
            }
        }

        textarea {
            font-size: 1.6rem;
            color: var(--color-primary);
            width: 100%;
            min-height: 10.4rem;
            background-color: rgba(#0F1626, 0.02);
            box-sizing: border-box;
            padding: 1.4rem;
            border: var(--color-form-input-border) 1px solid;
            border-radius: 1rem;
            resize: vertical;
            outline: none;
            transition: all .2s linear;

            &::placeholder {
                color: var(--color-text);
            }

            &:focus {
                border-color: $color-active;
            }
        }
    }

    &-select {
        position: relative;
        display: flex;
        max-width: 20rem;
        width: 100%;
        height: 4.8rem;

        &::before, &::after {
            content: '';
            position: absolute;
            width: 2.4rem;
            height: 1.2rem;
            pointer-events: none;
            z-index: 1;
            transition: all .1s linear;
            transform: translateY(-50%);
            top: 50%;
            right: 1.8rem;

            @media #{$lg} {
                right: 1.4rem;
            }
        }

        &::before {
            background: url(../images/svg/select-arrow.svg) no-repeat center / contain;
        }

        &::after {
            background: url(../images/svg/select-arrow-active.svg) no-repeat center / contain;
            opacity: 0;
        }

        &:has(.select2.select2-container--open) {
            &::before {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }

        select {
            width: 100%;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            -o-appearance: none;

            &::-ms-expand {
                display: none;
            }

            & + .select2 {
                width: 100% !important;

                .select2 {
                    &-selection {
                        height: 4.8rem;
                        background-color: var(--color-form-select-bg);
                        border: var(--color-form-select-border) 1px solid;
                        border-radius: 2.4rem;
                        outline: none;
                        transition: all .2s linear, border-radius 0 linear;
    
                        &__rendered {
                            font-weight: 500;
                            font-size: 1.6rem;
                            line-height: 4.8rem;
                            color: $color-active;
                            padding: 0 0 0 2.5rem;
                            transform: translateY(-0.15rem);

                            @media #{$lg} {
                                padding: 0 0 0 1.6rem;
                            }
                        }
    
                        &__placeholder {
                            font-weight: 500;
                            font-size: 1.6rem;
                            color: $color-active;
                            display: block;
                        }
    
                        &__arrow {
                            display: none;
                        }
                    }
                }

                &.select2-container--open {
                    .select2-selection {
                        background-color: var(--color-form-select-focus-bg);
                        border-bottom: none;
                    }
                }
            }
        }
    }

    &-warning {
        font-size: 1.6rem;
        color: var(--color-text);
        position: relative;
        padding-left: 4.6rem;
        transition: all .2s linear;

        @media #{$lg} {
            font-size: 1.4rem;
            padding-left: 4.1rem;
        }

        &::before {
            content: '';
            position: absolute;
            width: 3.6rem;
            height: 3.8rem;
            background: url(../images/svg/form-warning-icon.svg) no-repeat center / contain;
            left: 0;
            bottom: -0.5rem;
        }
    }
}

.select2-dropdown {
    background-color: var(--color-form-select-focus-bg);
    backdrop-filter: blur(5px);
    border: var(--color-form-select-border) 1px solid;
    border-radius: 0 0 2.4rem 2.4rem;
    z-index: 100;
    transition: all .2s linear, width 0 linear;

    .select2-search {
        display: none;
    }

    .select2-results__options {
        max-height: none !important;
        padding: 0 2.4rem 2rem;
        
        .select2-results__option--selectable {
            font-size: 1.2rem;
            line-height: 2.1rem;
            color: var(--color-primary);
            padding: 0;
            transition: all .2s linear;
        }

        .select2-results__option--highlighted.select2-results__option--selectable {
            background-color: transparent;
            color: $color-active;
        }

        .select2-results__option--selected {
            background-color: transparent;
        }
    }
}