body {
    &:not(.light), &.dark {
        .index-map {
            --color-indexmap-border: rgba(255, 255, 255, 0.16);
        }
    }

    &.light {
        .index-map {
            --color-indexmap-border: #E4E6EB;
        }
    }
}

.index-map {
    position: relative;
    margin-bottom: 12rem;

    @media #{$lg} {
        margin-bottom: 6rem;
    }

    &__content {
        backdrop-filter: blur(11px);
        box-sizing: border-box;
        padding-top: 1.2rem;
        border: var(--color-indexmap-border) 1px solid;
        border-radius: 3.2rem;
        transition: all .2s linear;

        @media #{$lg} {
            padding-top: 2.5rem;
        }

        .title {
            padding-left: 2.8rem;

            @media #{$lg} {
                padding-left: 1.4rem;
                margin-bottom: 2rem;
            }
        }
    }

    &__item {
        display: flex;
        width: 100%;
        height: 51.8rem;
        border-radius: 3rem;
        overflow: hidden;

        @media #{$lg} {
            height: 44.5rem;
        }
    }

    .bg-light {
        right: -17.5rem;
        bottom: -20.4rem;
    }
}