.map {
    position: relative;
    margin-bottom: 6.5rem;

    @media #{$lg} {
        margin-bottom: 3rem;
    }

    &__item {
        display: flex;
        width: 100%;
        height: 65rem;
        border-radius: 3rem;
        overflow: hidden;

        @media #{$lg} {
            height: 30rem;
        }
    }

    .bg-light {
        right: -27rem;
        bottom: -6.5rem;
    }
}