.news-list {
    position: relative;
    margin-bottom: 5rem;

    @media #{$lg} {
        margin-bottom: 6rem;
    }

    &__slider {
        position: relative;
        padding-bottom: 4rem;

        @media #{$lg} {
            margin-bottom: 3.5rem;
        }

        .swiper {
            overflow: visible;
            
            &-slide {
                height: auto;
                transition: opacity .5s ease-in-out, scale .5s ease-in-out;
                opacity: 0;
                scale: 0.8;

                @media #{$lg} {
                    width: auto !important;
                    opacity: 1;
                    scale: 1;
                }
            }

            &-slide-active,
            &-slide-active + .swiper-slide,
            &-slide-active + .swiper-slide + .swiper-slide {
                opacity: 1;
                scale: 1;
            }
        }
    }

    .news-card {
        &__content {
            @media #{$lg} {
                padding: 1.1rem 0.5rem 3rem 1.4rem;
            }
        }

        &-name {
            @media #{$lg} {
                margin: 0 0 1.2rem;
            }
        }

        &-text {
            @media #{$lg} {
                line-height: 1.4rem;
                margin-bottom: 1.2rem;
            }
        }
    }

    .btn-all {
        position: absolute;
        top: 1.8rem;
        right: 0;

        @media #{$lg} {
            position: relative;
            width: 100%;
            top: auto;
            right: auto;
        }
    }

    .bg-light {
        transform: translateX(-50%);
        left: 50%;
        bottom: -7rem;
    }
}