body {
    &:not(.light), &.dark {
        .shop {
            --color-shop-card-bg: linear-gradient(0deg, rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.08));
            --color-shop-card-border: rgba(255, 255, 255, 0.2);
        }
    }

    &.light {
        .shop {
            --color-shop-card-bg: #fff;
            --color-shop-card-border: #E0E4E8;
        }
    }
}

.shop {
    position: relative;
    margin-bottom: 6rem;

    &__content {
        display: flex;
        gap: 3.5rem;

        @media #{$lg} {
            flex-direction: column;
            gap: 1.8rem;
        }
    }

    &-card {
        flex-shrink: 0;
        width: 33rem;
        height: max-content;
        background: var(--color-shop-card-bg);
        box-sizing: border-box;
        padding: 1rem;
        border: var(--color-shop-card-border) 1px solid;
        border-radius: 2.2rem;
        transition: all .2s linear;

        @media #{$lg} {
            max-width: 34.7rem;
            width: 100%;
            padding: 1rem 1rem 1.4rem 1rem;
        }

        &-image {
            display: flex;
            width: 100%;
            height: 18rem;
            border-radius: 2rem;
            margin-bottom: 2.4rem;

            @media #{$lg} {
                height: 19rem;
                margin-bottom: 1rem;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: inherit;
            }
        }

        &__contacts {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            padding: 0 2.4rem;
            margin-bottom: 2rem;

            @media #{$lg} {
                gap: 1rem;
                padding: 0 0.8rem;
                margin-bottom: 1.4rem;
            }

            a {
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 2.5rem;
                color: $color-active;
                display: flex;
                align-items: center;

                @media #{$lg} {
                    font-size: 1.4rem;
                }

                &:hover {
                    &, span, b {
                        color: $color-active-secondary;
                    }

                    svg path {
                        &:not(.fill) {
                            stroke: $color-active-secondary;
                        }

                        &.fill {
                            fill: $color-active-secondary;
                        }
                    }
                }

                svg {
                    width: 2.6rem;
                    height: 2.6rem;
                    margin-right: 1.5rem;

                    @media #{$lg} {
                        width: 2rem;
                        height: 2rem;
                        margin-right: 1.8rem;
                    }

                    path {
                        transition: all .2s linear;
                    }
                }

                span {
                    color: var(--color-text);
                    margin-right: 0.3rem;
                    transition: all .2s linear;
                }

                b {
                    font-weight: 500;
                    font-size: 1.4rem;
                    color: var(--color-text);
                    margin-left: 3rem;
                    transition: all .2s linear;

                    @media #{$lg} {
                        font-size: 1.2rem;
                        margin-left: 1.2rem;
                    }
                }
            }
        }

        .socials {
            gap: 3rem;
            margin-bottom: 3.5rem;

            @media #{$lg} {
                gap: 4rem;
                margin-bottom: 0;
            }
        }

        .btn-back {
            width: 100%;
            padding: 0 1.8rem 0 4.6rem;

            @media #{$lg} {
                display: none;
            }
        }
    }

    &-text {
        font-size: 1.6rem;
        line-height: 2.2rem;
        color: var(--color-primary);
        padding-top: 2.8rem;
        padding-right: 3.5rem;

        @media #{$lg} {
            font-size: 1.4rem;
            line-height: 1.8rem;
            padding: 0;
        }

        * {
            transition: all .2s linear;
        }

        span {
            font-weight: 600;
            color: $color-active;
        }
    }

    .bg-light {
        top: 22.4rem;
        right: -27rem;
    }

    &-map {
        position: relative;
        margin-bottom: 7.5rem;

        @media #{$lg} {
            margin-bottom: 3.5rem;
        }

        &__item {
            display: flex;
            width: 100%;
            height: 43rem;
            border-radius: 3rem;
            overflow: hidden;

            @media #{$lg} {
                height: 36rem;
            }

            //
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
            //
        }
    }
}